body {
  min-width: 1100px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  overflow-x: hidden;
  background: #f4f3f0;
}

a {
  &:visited,
  &:active,
  &:focus,
  & {
    text-decoration: none;
    color: inherit;
  }

}